body {
    background-color: aquamarine;
    margin: 0;
}

.navigation {
    background-color: blue;
    padding: 15px;
    color: white;
    font-size: 20px;
}

.navigation span {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

h1, h2 {
    color: rgb(31, 31, 109);
}

p.first {
    color: green;
    background-color: rgb(154, 255, 163);
    width: 50%;
    padding: 10px;
    border: 2px solid green;
    border-radius: 10px;
}

p.other {
    color: blue;
    width: 50%;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: rgb(160, 160, 227);
}

.text-right {
    text-align: right;
}

#bonus {
    border-radius: 10px;
    border: 2px solid red;
    background-color: yellow;
    width: 50%;
    padding: 10px;
}

.header, .content {
    padding: 10px;
}

.header img {
    width: 100%;
}

.content img {
    height: 300px;
}